@import './styles/base/reset';
@import './styles/utilities/variables';
@import './styles/utilities/mixins';
@import './styles/components/header';
@import './styles/components/trial';
@import './styles/components/form';

.container,
input,
input::placeholder,
button {
  font-family: $font-primary;
}

.container {
  background: $red;

  &__decorator {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../images/bg-intro-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
