.form {
  @include columnFlex($space-16);
  width: 327px;
  padding: $space-24;
  background: $white;
  border-radius: 10px;
  box-shadow: 0 8px 0 0 $black-shadow;

  &__field {
    position: relative;
  }

  &__field--error {
    .form__input {
      border: 2px solid $red;
      color: $red;
    }

    .form__input:focus-visible {
      outline: 1px solid $red;
    }

    .form__icon {
      @include posAbsolute($space-19, $space-27);
      display: inline-block;
    }
  }
  &__input {
    @include inputTextMobile;
    width: 279px;
    padding: $space-16 0 $space-16 $space-20;
    border: 1px solid $gray;
    background: $white;
    color: $dark-blue;
    border-radius: 5px;

    &::placeholder {
      @include inputTextMobile;
      opacity: 0.75;
    }

    &:focus-visible {
      outline: 1px solid $blue;
    }
  }

  &__footer {
    @include columnFlex($space-8);
  }

  &__submit {
    padding: $space-16 0;
    border: none;
    background: $green;
    border-radius: 5px;
    color: $white;
    line-height: $line-height-26;
    letter-spacing: $letter-spacing-m;
    font-size: $font-size-16;
    font-weight: $font-weight-600;
    text-transform: uppercase;
    text-align: center;
    box-shadow: inset 0 -4px 0 0 $black-shadow;
  }

  &__terms {
    margin: 0 $space-16;
    color: $grayish-blue;
    line-height: $line-height-21;
    font-size: $font-size-11;
    font-weight: $font-weight-500;
    text-align: center;

    &--link {
      color: $red;
      font-weight: $font-weight-700;
    }
  }

  &__icon {
    display: none;
  }

  &__error {
    display: none;
  }
}

@media (min-width: $breakpoint-large-desktop) {
  .form {
    @include columnFlex($space-16);
    width: 540px;
    padding: $space-40;

    &__field--error {
      .form__input {
        border: 2px solid $red;
        color: $red;
      }

      .form__input:focus-visible {
        outline: 1px solid $red;
      }

      .form__icon {
        @include posAbsolute($space-19, $space-27);
        display: inline-block;
      }
    }
    &__input {
      width: 460px;
      padding: $space-16 0 $space-16 $space-32;
    }

    &__terms {
      margin: 0 $space-16;
      line-height: $line-height-26;
    }
  }
}
